//main:style.scss

.subheader{
  top        : 0;
  left       : 0;
  color      : white;
  z-index    : 5;
  position   : fixed;
  padding    : 0 20px;
  background : #191B20;

  will-change: transform;
  transform  : translate3d(0px, -120px, 0px);

  //sizing position and animation
  @include size(60px, 100%);
  @include flex(center, space-between, row);
  @include transition(transform);
}


//subtitle
.page-subtitle{
  margin        : 0 20px;
  padding-right :   20px;
  border-right  : 1px solid $dark-grey-1;

  //sizing
  @include size (16px, auto)
}

//animation
.slideDown{
  opacity  : 1;
  transform: translate3d(0px,0px,0px);
}


// progress
.progress{
  top        :    60px;
  left       :     0px;
  z-index    :      10;
  position   :   fixed;
  background : $blue-1;

  //animation
  will-change: width;
  @include size(2px, 0);
  @include transition(width);
}
