* {
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

* {
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow: hidden;
  background: #F2F4F6;
}

html input:not([type=checkbox]):not([type=radio]):not([type=file]):not([type=submit]):not([type=reset]), html select {
  height: 32px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #B8BFCA;
  padding: 11px 10px;
  color: #22272E;
  font: 400 14px/10px "nutanix_soft", san-serif;
  position: relative;
}

html input:not([type=checkbox]):not([type=radio]):not([type=file]):not([type=submit]):not([type=reset]):not(:last-child), html select:not(:last-child) {
  margin-bottom: 20px;
}

html input:not([type=checkbox]):not([type=radio]):not([type=file]):not([type=submit]):not([type=reset]):focus, html select:focus {
  outline: none;
  border-color: #22A5F7;
}

html input:not([type=checkbox]):not([type=radio]):not([type=file]):not([type=submit]):not([type=reset])::-webkit-input-placeholder, html select::-webkit-input-placeholder {
  padding-top: 4px;
  vertical-align: middle;
  color: #D5DAE0;
}

html label {
  font: 400 12px/8px "nutanix_soft", san-serif;
  text-align: left;
  width: 100%;
  font-weight: 500;
  color: #627386;
  margin-bottom: 10px;
}

html input[type=submit], html [data-type='primary'] {
  margin: 0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #FFFFFF;
  font: 500 14px/10px "nutanix_soft", san-serif;
  border: none;
  text-decoration: none;
  background-color: #22A5F7;
  outline: none;
}

html input[type=submit]:hover, html [data-type='primary']:hover {
  color: #FFFFFF;
  cursor: pointer;
  background-color: #1f88de;
}

[fw] {
  width: 100%;
}

[ac] {
  align-self: center;
}

[alt] {
  color: #627386;
}

[fade] {
  color: #B8BFCA;
}

[primary] {
  margin: 0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #FFFFFF;
  font: 400 14px/10px "nutanix_soft", san-serif;
  font-weight: 500;
  border: none;
  text-decoration: none;
  background-color: #22A5F7;
  outline: none;
}

[primary]:hover {
  color: #FFFFFF;
  cursor: pointer;
  background-color: #1f88de;
}

[primary]:active {
  color: #FFFFFF;
  background-color: #1b6dc6;
}

[primary] span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

[secondary] {
  border: 1px solid #D5DAE0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #22272E;
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-decoration: none;
  background-color: #FFFFFF;
  margin: 0;
  outline: none;
}

[secondary]:hover {
  color: #22A5F7;
  cursor: pointer;
}

[secondary]:active {
  color: #91d2fb;
}

[secondary] span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

[label] {
  background: #f4fbff;
  padding: 2px 5px;
  border-radius: 2px;
  color: #1f88de;
}

[hc] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

[hcs] {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

[hsc] {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}

[hsd] {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

[hcd] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

[vcs] {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

[vss] {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

[vsc] {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

[vc] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font: 200 29px/20px "nutanix_soft", san-serif;
}

h2 {
  font: 400 18px/12px "nutanix_soft", san-serif;
}

h3 {
  font: 500 14px/10px "nutanix_soft", san-serif;
}

h4 {
  font: 400 12px/8px "nutanix_soft", san-serif;
}

p {
  font: 400 14px/22px "nutanix_soft", san-serif;
}

a {
  color: #22A5F7;
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

hr {
  height: 1px;
  border: none;
  width: 100%;
  background: #F2F4F6;
}

header {
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background: #22272E;
  padding: 0 20px;
  color: #FFFFFF;
}

header {
  top: 0;
  left: 0;
  z-index: 10;
  position: fixed;
}

.page-title {
  margin-left: 20px;
}

.user-title {
  transition: color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 200ms;
  will-change: color;
  color: #9AA5B5;
}

.user-title * {
  margin-left: 10px;
}

.user-title polyline {
  transition: stroke 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 200ms;
  will-change: color;
  stroke: #9AA5B5;
}

.user-title:hover {
  cursor: pointer;
  color: #FFFFFF;
}

.user-title:hover polyline {
  stroke: #FFFFFF;
}

.subheader {
  top: 0;
  left: 0;
  color: white;
  z-index: 5;
  position: fixed;
  padding: 0 20px;
  background: #191B20;
  will-change: transform;
  transform: translate3d(0px, -120px, 0px);
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.page-subtitle {
  margin: 0 20px;
  padding-right: 20px;
  border-right: 1px solid #22272E;
  height: 16px;
  width: auto;
  box-sizing: border-box;
}

.slideDown {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

.progress {
  top: 60px;
  left: 0px;
  z-index: 10;
  position: fixed;
  background: #FDAB06;
  will-change: width;
  height: 2px;
  width: 0;
  box-sizing: border-box;
  transition: width 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes confetti-slow {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }
  100% {
    transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
  }
}

@keyframes confetti-medium {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }
  100% {
    transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg);
  }
}

@keyframes confetti-fast {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }
  100% {
    transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg);
  }
}

.underlay {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}

.confetti-container {
  perspective: 700px;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.confetti {
  position: absolute;
  z-index: 1;
  top: -10px;
  border-radius: 0;
  pointer-events: none;
}

.confetti--animation-slow {
  animation: confetti-slow 3.25s linear 1 forwards;
}

.confetti--animation-medium {
  animation: confetti-medium 2.75s linear 1 forwards;
}

.confetti--animation-fast {
  animation: confetti-fast 2.25s linear 1 forwards;
}

html {
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  background: #22272E;
  color: white;
  overflow-y: scroll;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 60px auto;
}

body, .compress {
  max-width: 1440px;
}

article {
  margin-top: 30px;
  max-width: 80ch;
  padding: 20px;
}

article p {
  font-size: 16px;
  line-height: 1.75;
  font-weight: 400;
  color: #9AA5B5;
}

input {
  outline: none;
  border: none !important;
  color: white !important;
  border-color: transparent;
  margin-top: 20px;
  margin-bottom: 0 !important;
  background-color: #191B20;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-delay: 200ms;
}

input::placeholder {
  color: #627386 !important;
}

input, button {
  height: 40px !important;
  padding: 14px 12px !important;
  font-size: 16px !important;
}

button {
  margin: 0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #FFFFFF;
  font: 400 14px/10px "nutanix_soft", san-serif;
  font-weight: 500;
  border: none;
  text-decoration: none;
  background-color: #22A5F7;
  outline: none;
  margin-top: 20px !important;
  color: #22272E;
  background: #FDAB06;
}

button:hover {
  color: #FFFFFF;
  cursor: pointer;
  background-color: #1f88de;
}

button:active {
  color: #FFFFFF;
  background-color: #1b6dc6;
}

button span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

button:hover {
  background: #FCA001;
  color: #22272E;
}

button:active {
  background: #FB8F00;
}

.comparison {
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 300ms;
}

.bye {
  transform: translateX(80px);
  opacity: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.compress {
  margin: auto;
  width: 100%;
}

.cover {
  pointer-events: none;
}

.card {
  border-radius: 4px;
  overflow: hidden;
  transform-origin: 100% 50%;
  height: 300px;
  width: auto;
  box-sizing: border-box;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 300ms;
}

.card img {
  pointer-events: none;
  position: relative;
  z-index: -1;
}

.card:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 5px #FDAB06;
  opacity: 1;
}

.selected {
  box-shadow: inset 0 0 0 5px #FDAB06;
}

.not-selected {
  opacity: 0.3;
  transform: scale(0.97);
}
